<!--create search box in index template-->
<style type="text/css">
  #content {
    overflow: hidden;
  }
  .gm-style .gm-style-iw{
    overflow: hidden;
  }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
  </script>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  Search all Events:
  <%= text_field_tag :search, params[:search], placeholder: "Search Me" %>
  <%= submit_tag "search events", :name => nil %>
<% end %>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  Search by Category:
  <%= check_box_tag(:categorySearch1, "art") %> <%= label_tag(:category, "Art") %>
  <%= check_box_tag(:categorySearch2, "performance") %> <%= label_tag(:category, "Performance") %>
  <%= check_box_tag(:categorySearch3, "science") %> <%= label_tag(:category, "Science/Tech") %>
  <%= submit_tag "search events", :name => nil %> <%= @cats%>
<% end %>

<%= form_tag(root_path, :method => "get") do %>
  Search by date:

  <%= text_field_tag :startDateSearch, params[:startDateSearch], placeholder: "start date search", id: "from" %>
  <%= text_field_tag :endDateSearch, params[:endDateSearch], placeholder: "end date search", id: "to" %>
  <%= submit_tag "search date", :name => nil %> 

  <%= @startDateSearch %><%= @endDateSearch %> 
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<!-- MAP container -->
<div id="map" style="width: auto; height: 500px;"></div>

<h1>Events</h1>
<table>
  <thead>
    <tr>
      <th>event</th>
      <th>location</th>
      <th>date</th>
       <th>time</th>
        <th>category</th>
        <th>subcategories</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!-- venue name is Venue.find_by_id(@events.find_by_id(i).venue_id).name -->
  <tbody>
    <% @events.each do |i| %>
      <tr>
        <td><%= link_to @events.find_by_id(i).name, i%></td>
        <td><%= Venue.find_by_id(@events.find_by_id(i).venue_id).name %>, 
        <%= Venue.find_by_id(@events.find_by_id(i).venue_id).street%> <br>,
        <%= Venue.find_by_id(@events.find_by_id(i).venue_id).city%></td>
        <td><%= link_to @events.find_by_id(i).start_date, i%></td>
        <td><%= link_to @events.find_by_id(i).start_time, i%></td>
        <td><%= link_to @events.find_by_id(i).category, i%></td>
        <td><%= link_to @events.find_by_id(i).subcategory, i%></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- google map api -->

<%= javascript_tag do %>
  window.venuesURL = "<%=j venues_url %>";
  window.eventsURL = "<%=j events_url %>";
  //get get the array of venues for the loaded events
  window.events = <%=raw @eventVenuesArr.to_json %>;

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: new google.maps.LatLng(37.7745140408613, -122.44537353515625),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();
    var marker, i;
    for (i = 0; i < events.length; i++) {  
     
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(events[i][0], events[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        
        return function() {
          infowindow.setContent(
            "<span id='content'>" + "<p ><strong><a href=\"events/" + events[i][7] + "\">" + events[i][2] + "</a></strong></p>" + "<p>Location: " + events[i][3] + " " + events[i][4] + " "+ events[i][5] + "</p>" + "<p>Description: "+ events[i][6] + "</p>" +"</span>"
          );
          infowindow.open(map, marker);
        }

      })(marker, i));

    }
<% end %>