<p id="notice"><%= notice %></p>

<p>

</p>

<p>
  <strong>Event:</strong>
 <!--  <%= @event.name %> -->
  <%= link_to @event.name, @event.url  %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.start_time %>, <% @event.end_time %>
  <%= @event.start_date %> <% @event.end_date %>
</p>

<p>
  <strong>Location: </strong>
  <%= Venue.find_by_id(@event.venue_id).name %>,
  <%= Venue.find_by_id(@event.venue_id).street %>,
  <%= Venue.find_by_id(@event.venue_id).city %>,
  <%= Venue.find_by_id(@event.venue_id).state %>,
  <%= Venue.find_by_id(@event.venue_id).zip %>

</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
 <strong> Spec instructions: </strong>
  <%= @event.spec_instruction %>
<%= @event.ticket_rsvp_instruction %>
  <%= @event.restriction %>
</p>

<p>
 <strong> Price: </strong>
  <%= @event.price_low %>  
  <%= @event.price_high %>
</p>

<p>
  <strong>Event Category:</strong>
  <%= @event.category %>
  <%= @event.subcategory %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
