<p id="notice"><%= notice %></p>

<p>
  <strong>Org name:</strong>
  <%= @suggestion.org_name %>
</p>

<p>
  <strong>Org:</strong>
  <%= @suggestion.org_id %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @suggestion.venue_id %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @suggestion.event_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @suggestion.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @suggestion.end_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @suggestion.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @suggestion.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>Event url:</strong>
  <%= @suggestion.event_url %>
</p>

<p>
  <strong>Spec instruction:</strong>
  <%= @suggestion.spec_instruction %>
</p>

<p>
  <strong>Ticket rsvp instruction:</strong>
  <%= @suggestion.ticket_rsvp_instruction %>
</p>

<p>
  <strong>Price low:</strong>
  <%= @suggestion.price_low %>
</p>

<p>
  <strong>Price high:</strong>
  <%= @suggestion.price_high %>
</p>

<p>
  <strong>Restriction:</strong>
  <%= @suggestion.restriction %>
</p>

<p>
  <strong>Category:</strong>
  <%= @suggestion.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @suggestion.subcategory %>
</p>

<p>
  <strong>Venue name:</strong>
  <%= @suggestion.venue_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @suggestion.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @suggestion.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @suggestion.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @suggestion.zip %>
</p>

<p>
  <strong>Venue url:</strong>
  <%= @suggestion.venue_url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @suggestion.phone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @suggestion.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @suggestion.longitude %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
