<!DOCTYPE html>
<html>
<head>
  <title>CultureAPT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<footer>
	<!-- toggle down about us section -->

		<ul>
			<li>
				<h4>About Us</h4>
				Culture APT is a curated listing of art, tech and performance cultural events. Our beta version is limited to San Francisco, California.

				Suggestions? We’d love to hear from you.
				natasha@natashashannon.com
				amylinow@gmail.com

				To suggest an event, please use our event <a href="/suggestions/new">Suggestion form</a>
				<!-- 
				<%= link_to "Suggestion form", "suggestions/new"%> -->
				<!-- link suggestion form here -->

				Thank you!
			</li>
			<li><a href="https://www.facebook.com/cultureapt" target="blank">Like us on facebook</a></li>
		</ul>
	</footer>
</body>
</html>
